/*Style Sheet for GPA Calculator*/

body{
	font-family: "Open Sans", sans-serif;;
	font-size: 1.5em;
	margin: 0px;
	padding: 0px;
	padding-bottom: 60px;
}

a, .btn, .table-hover > tbody > tr{
	-webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

a:hover, a:focus, .btn:hover, .btn:focus, .table-hover > tbody > tr:hover{
	-webkit-transition: all ease 0.25s;
  -moz-transition: all ease 0.25s;
  -o-transition: all ease 0.25s;
  transition: all ease 0.25s;
}

h1{
	font-size: 3em;
	font-weight: 600;
}

.table{
	max-width:80%;
	margin: 0 auto;
}

.row{
	margin:0px;
}

#credits{
	max-width:50px;
	text-align: center;
}

.tableright{
		padding-bottom: 20px;
		padding-top:40px;
}
.tableleft{
	padding-bottom: 20px;
	padding-top:40px;
}

td.selected a{
	font-weight: bold;
	padding: 5px 10px;
}
td a, td a:hover{
	cursor: pointer;
	text-decoration: none;
	color:black;
}

.btn-small{
	padding: 2px 8px;
	margin-left: 4px;
	margin-right: 4px;
}

.table > tbody > tr > .infotext{
	padding-top: 15px;
}

#saveAlert{
	width:300px;
	margin:0 auto;
	margin-top: 15px;
}
#footer{
	height:40px;
}
#footer a{
	text-decoration: none;
	color:inherit;
}

@media(max-width:768px){
	body{
		padding-bottom: 70px;
	}
	#footer{
		height:60px;
	}
	.table{
		max-width: 100%;
	}
	.tableright{
		padding-top:20px;
	}
	.tableleft{
		padding-top:0px;
	}
	.col-md-2 .table{
		width: 60%;
	}
	input{
		width:100%;
	}
}
