/*Style Sheet for GPA Calculator*/

body{
	font-family: "Open Sans", sans-serif;;
	font-size: 1.5em;
	margin: 0px;
	padding: 0px;
}
h1{
	font-size: 3em;
	font-weight: 600;
}

.table{
	max-width:80%;
	margin: 0 auto;
}

.row{
	margin:0px;
}

#credits{
	max-width:50px;
	text-align: center;
}

.tableright{
		padding-bottom: 20px;
		padding-top:40px;
}

.table > tbody > tr > .infotext{
	padding-top: 15px;
}

@media(max-width:768px){
	.table{
		max-width: 100%;
	}
	.tableright{
		padding-top:20px;
	}
	.col-md-2 .table{
		width: 60%;
	}
	input{
		width:100%;
	}
}
