@import "../helpers/_mixins.scss";
@import "../helpers/_variables.scss";

html * {
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

*,
*:after,
*:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}

html {
  width: 100%;
  padding: 0;
  margin: 0;
}

body {
  padding: 0;
  margin: 0;
  width: 100%;
  background: $background-color;

  @media only screen and (min-width: 991px) {}
}

.wrapper {
  height: 100%;
  width: 100%;

  @media only screen and (max-width: 991px) {
    height: auto;
  }
}

.content {
  margin-top: $navbar-height + 20px;
  padding: 1em;
  margin-bottom: 4em;
  @media only screen and (max-width: 991px) {
    margin-top: $navbar-height;
  }
}

input,
a,
button,
.btn,
.form-control {
  outline: 0;
  -webkit-box-shadow: none;
  box-shadow: none;

  &:focus,
  &:hover,
  &:active {
    outline: 0;
    -webkit-box-shadow: none;
    box-shadow: none;

    &:focus,
    &:hover,
    &:active {
      outline: 0;
      -webkit-box-shadow: none;
      box-shadow: none;
    }
  }
}

.navbar-brand {
  font-size: 2rem;

  @media only screen and (max-width: 991px) {
  font-size: 1.75rem;
  }
  img {
    max-height: 45px;
    margin-right: .125em;
  }
}

.table-bordered {
  thead {
    th,td {
      border-bottom-width: 1px;
    }
  }
}

.form-control {
  font-weight: 400;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  background: $background-color;
  padding-top: 1em;

  @media only screen and (max-width: 1201px) {
    position: relative;
  }
}