{
  "tabWidth": 2,
  "useTabs": false,
  "trailingComma": "es5",
  "semi": true,
  "singleQuote": false,
  "jsxBracketSameLine": false,
  "bracketSpacing": true,
  "parser": "babel",
  "overrides": [
    {
      "files": "*.vue",
      "options": { "parser": "vue" }
    }
  ]
}
