<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="James Paik"/>
	<meta name="description" content="GPA Calculator that will calculate your GPA in real time."/>
	<meta name="keywords" content="GPA Calculator, Calculate GPA, GPA, Calculator"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:image" content=""/>
	<meta property="og:description" content="GPA Calculator that will calculate your GPA in real time."/>
	<meta property="og:title" content="GPA Calculator"/>
	<meta property="og:url" content="">

	<title>GPA Calculator</title>
	<link rel="icon" href="">

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script src="js/angular.min.js"></script>
	<script src="js/script.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body ng-app="gpa" ng-controller="calcCtrl">
	<div class="text-center">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>GPA Calculator</h1>

				<!--Final Calculated GPA-->
				<table class="table">
					<tr>
						<td style="font-weight:bold; font-size:1.75em">My GPA: {{(totalgpa | number: 3) || '?'}}</td>
					</tr>
				</table>

				<!--GPA Calculator-->
				<table class="table table-bordered table-hover">
					<tr style="font-weight: bold">
						<td style="width:45%">Name</td>
						<td style="width:15%">Credits</td>
						<td style="width:15%">Grade</td>
						<td style="width:15%">Action</td>
					</tr>

					<tr ng-repeat="class in classes">
						<td class="infotext">
							<input ng-model="class.name" type="text"></input>
						</td>

						<td class="infotext">
							<input id="credits" type="text" pattern="\d*" maxlength="1" ng-model="class.credit" ng-change="updateGPA()"></input>
						</td>

						<td class="infotext">
								<select ng-model="class.grade" ng-change="updateGPA()" ng-options="class.value as class.text for class in grades"></select>
						</td>

						<td>
							<div class="buttons" ng-show="!rowform.$visible">
								<button class="btn btn-danger" ng-click="removeClass($index)">Remove</button>
							</div>
						</td>
					</tr>

				</table>
				<br>
				<button class="btn btn-default" ng-click="addClass()">Add a Class</button>
				<button class="btn btn-primary" ng-click="save()">Save Classes</button>
				<button class="btn btn-danger" ng-click="resetAll()">Reset All</button>
			</div>


			<!--Table for GPA Values-->
			<div class="col-md-2">
				<div class="tableright">
					<h4>GPA Model</h4>
					<select ng-init="gpatype = gpatype || '1'" ng-model="gpatype" ng-change="changeType()">
						<option value="1">Only Plus</option>
						<option value="2">Plus and Minus</option>
					</select>
				</div>
				<table class="table table-bordered">
					<tr ng-repeat="grade in grades">
						<td>{{grade.text}}</td>
						<td>{{grade.value}}</td>
					</tr>
				</table>
			</div>

		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
