<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<meta name="author" content="James Paik"/>
	<meta name="description" content="GPA Calculator that will calculate your GPA in real time."/>
	<meta name="keywords" content="GPA Calculator, Calculate GPA, GPA, Calculator"/>
	<meta name="viewport" content="width=device-width, initial-scale=1, maximum-scale=1">
	<meta property="og:description" content="GPA Calculator that will calculate your GPA in real time."/>
	<meta property="og:title" content="GPA Calculator"/>

	<title>GPA Calculator</title>

	<link href='https://fonts.googleapis.com/css?family=Open+Sans:100,300,400,600,700' rel='stylesheet' type='text/css'>
	<link href="css/bootstrap.min.css" rel="stylesheet">
	<link href="css/style.css" rel="stylesheet">

	<script src="js/angular.min.js"></script>
	<script src="js/script.js"></script>

	<!-- HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries -->
	<!--[if lt IE 9]>
	<script src="https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js"></script>
	<script src="https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js"></script>
	<![endif]-->
</head>

<body ng-app="gpa" ng-controller="calcCtrl">
	<div class="text-center">
		<div class="row">
			<div class="col-md-8 col-md-offset-2">
				<h1>GPA Calculator</h1>

				<!--Final Calculated GPA-->
				<table class="table">
					<tr>
						<td style="font-weight:bold; font-size:1.75em">My GPA: {{(totalgpa | number: 3) || '?'}}</td>
					</tr>
				</table>

				<!--GPA Calculator-->
				<table class="table table-bordered table-hover">
					<tr style="font-weight: bold">
						<td style="width:35%">Name</td>
						<td style="width:15%">Credits</td>
						<td style="width:15%">Grade</td>
						<td style="width:15%" class="hs">Level</td>
						<td style="width:15%">Action</td>
					</tr>

					<tr ng-repeat="class in classes" class-repeat-dir>
						<td class="infotext">
							<input ng-model="class.name" type="text"></input>
						</td>

						<td class="infotext">
							<input id="credits" type="text" pattern="\d*" maxlength="1" ng-model="class.credit" ng-change="updateGPA()"></input>
						</td>

						<td class="infotext">
								<select ng-model="class.grade" ng-change="updateGPA()" ng-options="class.value as class.text for class in grades"></select>
						</td>

						<td class="infotext hs">
								<select ng-model="class.level" ng-change="updateGPA()" ng-options="class.value as class.text for class in levels"></select>
						</td>

						<td>
							<div class="buttons" ng-show="!rowform.$visible">
								<button class="btn btn-danger" ng-click="removeClass($index)">Remove</button>
							</div>
						</td>
					</tr>

				</table>
				<br>
				<button class="btn btn-default" ng-click="addClass()">Add a Class</button>
				<button class="btn btn-primary" ng-click="saveClasses()">Save Classes</button>
				<button class="btn btn-danger" ng-click="resetAll()">Reset All</button>
				<br>
				<div id="saveAlert" class="alert alert-success fade hidden">
					<strong>Saved!</strong> You can now refresh the page.
				</div>
			</div>


			<!--Table for GPA Values-->
			<div class="col-md-2">
				<div class="tableright">
					<h4>GPA Model</h4>
					<select ng-init="gpatype = gpatype || '1'" ng-model="gpatype" ng-change="changeType()" ng-options="gpatype.value as gpatype.text for gpatype in gpatypes"></select>
				</div>
				<table class="table table-bordered">
					<tr ng-repeat="grade in grades" class-repeat-dir>
						<td>{{grade.text}}</td>
						<td>{{grade.value}}</td>
						<!--Added Columns for Highschool Honors and AP-->
						<td class="hs">{{grade.value == 0 ? 0 : grade.value + 0.5}}</td>
						<td class="hs">{{grade.value == 0 ? 0 : grade.value + 1.0}}</td>
					</tr>
				</table>
			</div>

		</div>

		<div id="footer" class="navbar navbar-default navbar-fixed-bottom">
			<div class="container text-center">
				<p class="navbar-text col-md-12 col-sm-12 col-xs-12">
					Created by <a href="http://jpaik.me">James Paik</a> | View code on <a href="http://github.com/jpaik/angulargpa">GitHub</a>
				</p>
			</div>
		</div>
	</div>

	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
</body>
</html>
